body {
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Liberation Sans";
}
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: -7px;
  padding-left: -3px;
  left: -3;
  width: 100%;
}

.subLink {
    text-decoration: none;
    color: white;
}

.tableDesc {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.tableDesc th {
    background-color: #252525;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
}

.tableDesc td, .tableDesc th {
  border: 1px solid #ddd;
  padding: 8px;
}


/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  padding-top: 24px;
  margin-bottom: 0px;
  text-decoration: none;

  font-size: 12px;
}

#navbar img {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

.desc {
    font-size: 14px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {

  position: fixed;
  top: -1px;
  width: 100%;
}



.projects {
    padding-top: 22px;
    color: #efefef;
    
    margin-top: 62px;
    background: #3f103e;
    width: 20%;
    height: 100% !important;
}

.projects .title {
    padding-bottom: 5px;
    margin-left: 30px;
    text-shadow:
    -1px -1px 0 #232323,
     0   -1px 0 #232323,
     1px -1px 0 #232323,
     1px  0   0 #232323,
     1px  1px 0 #232323,
     0    1px 0 #232323,
    -1px  1px 0 #232323,
    -1px  0   0 #232323;
}

.topTitle {
    font-weight: bold;
    margin-left: 30px;
}

.subTitle {
    padding-bottom: 2px;
    font-size: 16px;
    margin-left: 15px;
    font-style: italic;
}

.main {
    padding-left: 22%;
}



.sticky + .content {
  padding-top: 60px;
} 
